# Enable PHP processing for .html files
AddType application/x-httpd-php .html

# Enable mod_rewrite
RewriteEngine on

# If the request is not a directory
RewriteCond %{REQUEST_FILENAME} !-d

# And if the requested file with .html exists
RewriteCond %{REQUEST_FILENAME}.html -f

# Rewrite the URL to append .html
RewriteRule ^(.*)$ $1.html
